@import "./base/reset";
@import "/sass/utils/colors";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $main-color-white;
}

::-webkit-scrollbar-thumb {
  background: $main-color-blue;
}
