@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.page__header {
  padding: 24px 32px;
  min-height: 126px;
  @include flexbox($justify: space-between, $items: center, $gap: 7.5em);

  &__welcome {
    @include flexbox(
      $direction: column,
      $justify: space-between,
      $items: flex-start,
      $gap: 0.25em
    );

    &__title {
      @extend %dashboard-heading3;
    }

    &__desc {
      @extend %body-regular;
      color: $greyscale-grey-600;
      word-wrap: break-word;
      max-width: 700px;
    }
  }
}
