@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.button {
  padding: 10px 20px;
  border-radius: 100px;
  background-color: $main-color-blue;
  @include flexbox($justify: space-between, $items: center, $gap: 0.75em);
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &__black {
    background-color: $main-color-black;
  }

  &__icon {
    padding: 2.4px;
    background-color: $main-color-white;
    border-radius: 50%;
  }

  &__text {
    color: $main-color-white;
    text-transform: capitalize;
    @extend %button-size4;
  }
}
