@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.cards__detail__report__content__item {
  @include flexbox($justify: space-between, $items: center, $gap: 1em);
  width: 100%;

  &:hover {
    background-color: $greyscale-grey-100;
    border-radius: 10px;
    cursor: pointer;
  }

  &__text {
    color: $main-color-black;
    @extend %body-medium;
    margin-right: auto;
  }
}
