@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.notifications {
  width: 100%;
  height: 100%;
  @include flexbox(
    $direction: column,
    $justify: flex-start,
    $items: flex-start
  );

  &__header {
    @include flexbox($justify: space-between, $items: center);
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid $main-color-black;

    &__all,
    &__new {
      text-transform: capitalize;
      color: $main-color-black;
      @extend %body-medium3;
    }
  }

  &__body {
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $items: flex-start
    );
    width: 100%;

    &__item {
      @include flexbox($justify: flex-start, $items: center, $gap: 1.25rem);
      padding: 15px;
      width: 100%;

      &:hover {
        background-color: $greyscale-grey-100;
        cursor: pointer;

        .notifications__body__item__btn {
          display: initial;
        }
      }

      &__img {
        object-fit: contain;
        border-radius: 100px;
        padding: 3px;
        background-color: $greyscale-grey-100;
      }

      &__content {
        @include flexbox(
          $direction: column,
          $justify: flex-start,
          $items: flex-start
        );

        &__title {
          width: 100%;
          @extend %body-medium3;
          text-align: left;
        }

        &__time {
          font-size: 11px;
          color: $main-color-blue;
        }
      }

      &__btn {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 17px;
        margin-left: auto;
        display: none;

        &:hover {
          cursor: pointer;
          color: $action-red-100;
          opacity: 0.7;
        }
      }
    }
  }
}

.notification__alert--error {
  position: fixed;
  top: 10%;
  left: 61%;
  transform: translate(-61%, -10%);
  padding: 15px;
  border-radius: 20px;
  box-shadow: $box-shadow;
  font-size: 18px;
  background-color: $action-red-100;
  color: $main-color-white;
}
