@import "/sass/utils/_colors";
@import "/sass/utils/_variables";
@import "/sass/utils/_mixins";
@import "/sass/base/_typography";

input {
  width: 100%;
  height: 58px;
  border-radius: 12px;
  text-indent: 16px;
  margin-top: 12px;
  border: 1px solid rgba($color: #e4e4e7, $alpha: 0.9);
  outline: none;
}

.bg-shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0.4;
  background-color: $main-color-black;
  overflow-x: hidden;
  z-index: 999;
}

.sidemenu {
  width: 510px;
  height: auto;
  right: 0;
  background-color: $main-color-white;
  z-index: 999;
  padding: 32px;
  position: absolute;

  &__header {
    @include flexbox($justify: space-between, $items: center);

    div:nth-child(1) {
      @extend %body-bold;
    }

    div:nth-child(2) {
      border: 1px solid;
      border-radius: 100%;
      background-color: $greyscale-grey-300;
      width: 22px;
      height: 22px;
      cursor: pointer;
      text-align: center;
      line-height: 22px;
      color: $main-color-white;
    }
  }

  &__code {
    margin-bottom: 34px;
    margin-top: 24px;
    @include flexbox($justify: space-between, $items: center);

    &--codeid {
      @extend %title-size1;
    }

    &--codecopy {
      display: flex;
      column-gap: 12px;
      padding: 10px 20px;
      border: 1px solid;
      border-radius: 100px;
      text-align: center;
      cursor: pointer;
    }
  }
  .sidemenu__form {
    .pname {
      margin-top: 34px;
    }

    &--date {
      margin-top: 24px;
      @include flexbox($justify: space-between, $items: center, $gap: 24px);
      & > div {
        flex: 50%;
      }

      #date,
      #dueon {
        text-indent: unset;
        padding: 10px;
      }
    }
  }
  .sidemenu__addItem {
    margin-top: 24px;

    &--header {
      display: grid;
      column-gap: 24px;
      grid-template-columns: 204px 51px 62px 57px;
    }

    &--items {
      display: grid;
      grid-template-columns: 204px 51px 62px 57px;
      column-gap: 24px;
    }

    .addItemButton {
      margin-top: 24px;
      button {
        border: none;
        color: $main-color-blue;
        background-color: $main-color-white;
        cursor: pointer;
      }
    }
  }
  .sidemenu__sendInvoice {
    @include flexbox($justify: end, $items: center, $gap: 24px);
    margin-top: 200px;

    button {
      border: 1px solid;
      border-radius: 100px;
      padding: 10px 20px;
      cursor: pointer;
      border: 1px solid rgba($color: #e4e4e7, $alpha: 0.9);
    }

    button:nth-child(2) {
      background-color: $main-color-blue;
      color: $main-color-white;
    }
  }
}

.invoice__alert--success,
.invoice__alert--error {
  position: fixed;
  top: 10%;
  left: 61%;
  transform: translate(-61%, -10%);
  padding: 15px;
  border-radius: 20px;
  box-shadow: $box-shadow;
  font-size: 18px;
}

.invoice__alert--success {
  background-color: $action-green-100;
  color: $main-color-white;
}

.invoice__alert--error {
  background-color: $action-red-100;
  color: $main-color-white;
}
