@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.cards__transaction {
  border-radius: 16px;
  border: 1px solid $greyscale-grey-200;
  padding: 24px;
  @include flexbox(
    $direction: column,
    $justify: space-between,
    $items: flex-start,
    $gap: 1.5em
  );
  width: 100%;

  &__heading {
    @include flexbox($justify: space-between, $items: center);
    width: 100%;

    &__title {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      color: $main-color-black;
      margin-right: auto;
    }

    &__filterBtn {
      @include flexbox($justify: space-between, $items: center, $gap: 0.25em);
      border-radius: 100px;
      border: 1px solid $greyscale-grey-200;
      background: $main-color-white;
      padding: 10px 20px;

      &__text {
        @extend %button-size4;
        letter-spacing: -0.14px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__content {
    @include flexbox(
      $direction: column,
      $justify: space-between,
      $items: flex-start,
      $gap: 1.5em
    );
    width: 100%;

    &__header {
      border-radius: 16px;
      border: 1px solid $greyscale-grey-300;
      background: $greyscale-grey-50;
      @include flexbox($justify: flex-start, $items: center, $gap: 9.5em);
      padding: 0.5em;
      width: 100%;

      &__filterBtn {
        background-color: transparent;
        border: none;
        outline: none;
        @include flexbox($justify: space-between, $items: center, $gap: 0.5em);
        @extend %body-medium;
        color: $main-color-black;
        transition: $transition;

        &:hover {
          opacity: 0.8;
          cursor: pointer;
          transition: $transition;
        }
      }
    }

    &__body {
      @include flexbox(
        $direction: column,
        $justify: space-between,
        $items: flex-start,
        $gap: 1.5em
      );
      width: 100%;
    }
  }
}
