@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.contracts__content__client {
  padding: 24px;
  border-radius: 16px;
  border: 1px solid $greyscale-grey-200;
  background: $main-color-white;
  @include flexbox(
    $direction: column,
    $justify: space-between,
    $items: flex-start,
    $gap: 1.5em
  );
  width: 50%;

  &__header {
    @include flexbox($justify: space-between, $items: center);
    width: 100%;

    &__title {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      color: $main-color-black;
      text-transform: capitalize;
    }

    &__icon {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__body {
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $items: flex-start,
      $gap: 1.25em
    );
    width: 100%;
    height: 100%;
    max-height: 500px;
    overflow: scroll;
  }

  &__body::-webkit-scrollbar {
    display: none;
  }
}

.no__client {
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: $main-color-blue;
  margin-top: 20px;
}
