@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.contracts__content__active {
  border-radius: 16px;
  border: 1px solid $greyscale-grey-200;
  padding: 24px;
  width: 100%;
  @include flexbox(
    $direction: column,
    $justify: space-between,
    $items: flex-start,
    $gap: 1.5em
  );
  ::-webkit-scrollbar {
    display: none;
  }

  &__header {
    @include flexbox($justify: space-between, $items: center);
    width: 100%;

    &__title {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      color: $main-color-black;
      text-transform: capitalize;
    }

    &__icon {
      margin-left: auto;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__body {
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $items: flex-start,
      $gap: 1em
    );
    width: 100%;
    overflow: scroll;
    height: 500px;
  }
}
