@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.contracts__content__summary {
  width: 100%;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid $greyscale-grey-200;
  @include flexbox($justify: space-between, $items: center);

  &__data {
    @include flexbox($justify: space-between, $items: flex-start, $gap: 1em);

    &__info {
      @include flexbox(
        $direction: column,
        $justify: space-between,
        $items: flex-start,
        $gap: 0.5em
      );

      &__title {
        @extend %body-medium;
        color: $greyscale-grey-500;
      }

      &__body {
        @include flexbox($justify: space-between, $items: center, $gap: 0.5em);

        &__number {
          color: $main-color-black;
          @extend %title-size1;
        }

        &__perc {
          color: $action-green-100;
          background-color: $action-green-20;
          border-radius: 100px;
          padding: 8px;
          @extend %body-medium;
        }
      }
    }
  }
}

@media only screen and (max-width: 590px) {
  .contracts__content__summary {
    display: none;
  }
}
