@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.chatbot {
  margin-left: 280px;
  height: 100vh;
  max-height: 100vh;

  &__content {
    background-color: $greyscale-grey-50;
    padding: 32px 32px 0 32px;
    @include flexbox($direction: column, $justify: flex-start, $items: center);
    width: 100%;
    height: 82%;

    &__blank {
      @include flexbox(
        $direction: column,
        $justify: flex-start,
        $items: flex-start,
        $gap: 1rem
      );
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &__item {
        @include flexbox(
          $justify: flex-start,
          $items: flex-start,
          $gap: 0.5rem
        );
        height: max-content;

        &__text {
          background-color: $main-color-white;
          padding: 15px;
          border-radius: 0.5rem;
          box-shadow: $box-shadow2;
          max-width: 700px;
        }

        &__img {
          border-radius: 50%;
        }
      }

      &__item.client {
        margin-left: auto;
      }

      &__item.chatbot {
        margin-left: 0;
      }

      &__preview {
        @include flexbox(
          $direction: column,
          $justify: center,
          $items: center,
          $gap: 0.5rem
        );
        width: 100%;
        height: 100%;

        &__title {
          @extend %title-size2;
          color: $main-color-blue;
          font-size: 25px;
        }

        &__content {
          display: grid;
          grid-template-columns: repeat(2, auto);
          gap: 20px;

          &__item {
            background-color: $main-color-white;
            padding: 15px;
            box-shadow: $box-shadow2;
            border-radius: 0.5rem;
            border: 1px solid $main-color-white;
            outline: none;

            &:hover {
              cursor: pointer;
              border-color: $main-color-blue;
            }
          }
        }
      }
    }

    &__blank::-webkit-scrollbar {
      display: none;
    }

    &__form {
      @include flexbox($justify: space-between, $items: center, $gap: 1rem);
      width: 100%;
      margin-top: auto;
      padding: 32px 0;

      &__input {
        border: none;
        outline: none;
        border-radius: 12px;
        border: 1px solid rgba(102, 102, 102, 0.35);
        padding: 15px;
        width: 100%;

        &:hover {
          border-color: $main-color-blue;
        }
      }

      &__btn {
        padding: 12px 15px;
        border: none;
        outline: none;
        background-color: $main-color-blue;
        border-radius: 0.5rem;
        color: $main-color-white;
        @extend %button-size4;

        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }
    }
  }

  &__alert--error {
    position: fixed;
    top: 10%;
    left: 61%;
    transform: translate(-61%, -10%);
    padding: 15px;
    border-radius: 20px;
    box-shadow: $box-shadow;
    font-size: 18px;
    background-color: $action-red-100;
    color: $main-color-white;
  }
}

@media only screen and (max-width: 1070px) {
  .chatbot__content__blank__preview__content {
    grid-template-columns: repeat(1, auto);
  }
}

@media only screen and (max-width: 992px) {
  .chatbot {
    margin-left: 100px;
  }
}
