@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.documents {
  margin-left: 280px;

  &__content {
    padding: 32px;
    @include flexbox(
      $direction: column,
      $justify: space-between,
      $items: flex-start,
      $gap: 2em
    );
    width: 100%;

    &__warning {
      border-radius: 12px;
      background: $action-orange-20;
      padding: 16px 24px;
      @include flexbox($justify: flex-start, $items: center, $gap: 0.75em);
      width: 100%;

      &__text {
        color: $action-orange-100;
        @extend %body-medium;
      }
    }

    &__warning.success {
      background-color: $action-green-80;

      .documents__content__warning__text {
        color: $main-color-white;
        @extend %body-medium;
      }
    }

    &__upload {
      width: 100%;
      @include flexbox($justify: space-between, $items: flex-start, $gap: 2em);
    }

    &__loading {
      padding: 32px;
      @include flexbox(
        $direction: column,
        $justify: space-between,
        $items: flex-start,
        $gap: 2em
      );
      width: 100%;
    }
  }

  &__alert--error {
    position: fixed;
    z-index: 2000;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    width: auto;
    height: auto;
    border-radius: 0.5em;
    font-size: 1.1em;
    padding: 1em;
    color: $main-color-white;
    box-shadow: $box-shadow;
    background-color: $action-red-100;
  }
}
