@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.home {
  margin-left: 280px;

  .home__content {
    padding: 24px 32px 32px 32px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 32px;
    row-gap: 34px;
  }
}
