@import "/sass/utils/_colors";
@import "/sass/utils/_variables";
@import "/sass/utils/_mixins";
@import "/sass/base/_typography";

.signIn {
  width: 100%;
  min-height: 622px;
  height: auto;
  min-height: 634px;
  background-color: $second-color-black;
  @include flexbox($justify: center, $items: center);

  &__form {
    background-color: $main-color-white;
    padding: 24px;
    border-radius: 24px;
    @include flexbox(
      $direction: column,
      $justify: space-between,
      $items: flex-start,
      $gap: 1.5em
    );

    &__title {
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      color: $main-color-black;
    }

    &__item {
      @include flexbox(
        $direction: column,
        $justify: space-between,
        $items: flex-start,
        $gap: 0.25em
      );
      width: 100%;

      label {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $greyscale-grey-500;
      }

      input[type="password"],
      input[type="email"],
      input[type="text"] {
        border: none;
        outline: none;
        border-radius: 12px;
        border: 1px solid rgba(102, 102, 102, 0.35);
        padding: 15px;
        width: 100%;
      }

      &__passwordLabel {
        @include flexbox($justify: space-between, $items: center);
        width: 100%;

        .toggle__password {
          @include flexbox(
            $justify: space-between,
            $items: center,
            $gap: 0.4em
          );
          margin-left: auto;
          border: none;
          outline: none;
          background-color: transparent;
          height: 24px;

          &:hover {
            cursor: pointer;
          }

          &__text {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: $greyscale-grey-500;
          }
        }
      }

      .remember__me {
        @include flexbox($justify: flex-start, $items: center, $gap: 0.2em);
        margin-top: 0.5em;

        input {
          appearance: checkbox !important;
        }

        label {
          color: $main-color-black;
        }
      }
    }

    &__privacy {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: $main-color-black;

      .link {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        color: $second-color-black;
      }
    }

    &__btn {
      width: 100%;
      border-radius: 32px;
      opacity: 0.25;
      background: $second-color-black;
      padding: 15px 0px 16px 0px;
      color: $main-color-white;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border: none;
      outline: none;

      &:hover {
        cursor: pointer;
      }
    }

    &__btn.active {
      opacity: 1;
    }

    &__forgetPass {
      width: 100%;
      text-align: center;
      color: $second-color-black;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: underline;
    }

    &__switch {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: $greyscale-grey-500;
      width: 100%;
      text-align: center;

      .singin__switch {
        color: $second-color-black;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration-line: underline;
      }
    }
  }

  .pop-up {
    position: fixed;
    z-index: 2000;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    width: auto;
    height: auto;
    border-radius: 0.5em;
    font-size: 1.1em;
    padding: 1em;
    color: $main-color-white;
    box-shadow: $box-shadow;
  }

  .pop-up__error {
    background-color: $action-red-100;
  }

  .pop-up__success {
    background-color: $action-green-100;
  }
}
