@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.transactions {
  margin-left: 280px;

  &__content {
    padding: 24px;
    @include flexbox(
      $direction: column,
      $justify: space-between,
      $items: flex-start,
      $gap: 2em
    );

    &__boxes {
      @include flexbox($justify: space-between, $items: center, $gap: 2em);
      width: 100%;
    }
  }
}

@media only screen and (max-width: 992px) {
  .transactions {
    margin-left: 100px;
  }
}
